<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Authorisation</title>
    <link rel="stylesheet" href="/authPageStyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/authPageStyles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Ваш аккаунт авторизован!</h1>
    <h3>Эту страницу можно закрыть и вернуться к чату</h3>
</body>
</html>